# Gradle files
.gradle/
build/
*/build/

# Local configuration file (sdk path, etc)
local.properties

# Android Studio generated folders
captures/
.externalNativeBuild

# IntelliJ project files
*.iml
.idea/
.idea/**

# Mazerunner
maze_output
maze-runner.log

# Misc
.DS_Store
.cxx/
Gemfile.lock
