bugsnag-android-performance/                     @lemnik @YYChen01988
bugsnag-plugin-android-performance-appcompat/    @lemnik @YYChen01988
bugsnag-plugin-android-performance-coroutines/   @lemnik @YYChen01988
bugsnag-plugin-android-performance-okhttp/       @lemnik @YYChen01988
